<!DOCTYPE html>

<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS: VIT Chennai</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/admin.css">
    <script>
        (function () {
            if (window.addEventListener) {
                window.addEventListener('load', run, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', run);
            }

function run() {
            var t = document.getElementById('courseTable');
            t.onclick = function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                while (target && target.nodeName != 'TR') {
                    target = target.parentElement;
                }
                var cells = target.cells;
                if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                    return;
                }
                var f1 = document.getElementById('slot_val');
                var f2 = document.getElementById('faculty_val');
                var f3 = document.getElementById('Available');
                f1.value = cells[0].innerHTML.trim();
                f2.value = cells[1].innerHTML.trim();
                f3.value = cells[2].innerHTML.trim();
                //console.log(target.nodeName, event);
                console.log(f1.value,f2.value);
            };
        }

        })();
    </script>
    <script>
        function DoPost(){
        console.log(document.getElementById("slot_val").value);
        console.log(document.getElementById("faculty_val").value);
        console.log(document.getElementById("Available").value);
        if(document.getElementById("Available").value>0){
            console.log("Post Requested");
            document.getElementById("coursesubmit").submit();
        }
        else{
            alert("The Teacher Selected is Full Please choose other option")
        }
    }
    </script>

</head>

<body>
    <form action="/registercourseteacher" method="POST" id="coursesubmit">
        <input type="text" name="slot_val" id="slot_val" hidden />
        <input type="text" name="faculty_val" id="faculty_val" hidden />
        <input type="text" name="Available" id="Available" hidden />
        <input type="text" name="registerno" id="registerno" value="<%= register %>" hidden />
        <input type="text" name="coursecode" id="coursecode" value="<%= course.Coursecode %>" hidden />
    </form>
    <!-- START NAV -->
    <nav class="navbar is-dark is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="dashboard.html">
                    VIT Chennai
                </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="dashboard.html">
                        Home
                    </a>
                    <a class="navbar-item" href="dashboard.html">
                        Timetable
                    </a>
                    <a class="navbar-item" href="dashboard.html">
                        Results
                    </a>
                    <a class="navbar-item" href="dashboard.html">
                        Payments

                    </a>
                </div>

            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <br>
    <div class="container">
        <div class="columns">
            <div class="column is-3 is-dark">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Your Profile</a></li>
                    </ul>

                    <p class="menu-label">
                        Winter Semester 2018-19
                    </p>
                    <ul class="menu-list">
                        <li><a>Courses</a></li>
                        <li><a>Digital Assignments</a></li>
                        <li><a>Course Materials</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                <%= name %>
                            </h1>
                            <h2 class="subtitle">
                                <%= register %>
                            </h2>
                            <h2 class="subtitle">
                                <%= email %>
                        </div>
                    </div>
                </section>
                <section class="info-tiles" <input type="text" name="coursecode" id="coursecode" value="<%= course.Coursecode %>" hidden />


                <table class="table is-fullwidth is-bordered" id="coursedetail">
                    <thead>
                        <tr>
                            <th><abbr title="Course Code">C Code.</abbr></th>
                            <th><abbr title="Course Name">Name</abbr></th>
                            <th><abbr title="Lecture">L</abbr></th>
                            <th><abbr title="Theory">T</abbr></th>
                            <th><abbr title="Practical">P</abbr></th>
                            <th><abbr title="Project">J</abbr></th>
                            <th><abbr title="Cummulative">C</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= course.Coursecode %>
                            </td>
                            <td><a title="<%= course.Coursename %>">
                                    <%= course.Coursename %></a></td>
                            <td>
                                <%= course.L %>
                            </td>
                            <td>
                                <%= course.T %>
                            </td>
                            <td>
                                <%= course.P %>
                            </td>
                            <td>
                                <%= course.J %>
                            </td>
                            <td>
                                <%= course.C %>
                            </td>
                        </tr>
                    </tbody>
                </table>

                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="subtitle has-text-weight-bold has-text-black">Please Select your preferred option:</p>
                            </article>
                        </div>
                    </div>
                </section>
                <table class="table is-fullwidth is-striped" id="courseTable">
                    <div class="control">
                        <thead>
                            <tr>
                                <th><abbr title="Slot">Slot</abbr></th>
                                <th><abbr title="Faculty">Faculty</abbr></th>
                                <th><abbr title="Available">Available</abbr></th>
                                <th><abbr title="Register">Register</abbr></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th><abbr title="Slot">Slot</abbr></th>
                                <th><abbr title="Faculty">Faculty</abbr></th>
                                <th><abbr title="Available">Available</abbr></th>
                                <th><abbr title="Register">Register</abbr></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% course.Teacher.forEach(function(teacher, index) { %>
                            <tr>
                                <td>
                                    <%= teacher.Slot %>
                                </td>
                                <td>
                                    <%= teacher.Name %>
                                </td>
                                <td>
                                    <%= teacher.available %>
                                </td>
                                <% if( teacher.available > 0){ %>
                                <td><input type="radio" name="teacher" value="<%= teacher.Teacher_number %>"></td>
                                <% } else{ %>
                                <td><input type="radio" name="teacher" value="<%= teacher.Teacher_number %>" disabled></td>
                                <% } %>

                            </tr>
                            <% }); %>
                        </tbody>
                    </div>

                </table>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="subtitle has-text-weight-bold has-text-black"><a class="button is-dark" onclick="DoPost();">Register</a></p>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../public/js/bulma.js"></script>
</body>

</html>
